.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}

.nav-greeting {
    color: var(--secondary-color);
}

.nav-logout-btn {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 18px;
  cursor: pointer;
  padding: 0;
}

.nav-logout-btn:hover {
  color: var(--secondary-color);
}